.signupPage {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f7f8fa;
}
.signupPage .ant-card {
  width: 80vw;
  min-width: 300px;
  max-width: 600px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.signupPage .ant-card .ant-card-head {
  border-bottom: none;
  padding: 0;
}
.signupPage .ant-card .ant-card-head-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.signupPage .card-header {
  display: flex;
  flex-direction: column;
}
.signupPage .card-header Button {
   margin-left: auto;
}
