/*-------- GOOGLE FONTS --------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*-------- VARIABLES --------*/
:root {
  /*-------- COLORS --------*/
  --container-color: rgba(249, 250, 251, 1);
  --body-color: rgba(204, 204, 204, 1);
  --header-color: rgba(17, 24, 39, 1);
  --footer-color: rgba(17, 24, 39, 1);
  --button-color: rgba(80, 72, 229, 1);
  --title-color: rgba(17, 24, 39, 1);
  --text-color-dark: rgba(17, 24, 39, 1);
  --text-color: rgba(107, 114, 128, 1);
  --text-color-light: rgba(151, 151, 151, 1);
  --text-color-white: rgba(255, 255, 255, 1);

  /*-------- FONTS and TYPOGRAPHY --------*/
  --body-font: "Inter", sans-serif;

  /*  1rem = 10px  */
  --h4-font-size: 3.2rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --tiny-font-size: 1rem;

  /*-------- FONTS WEIGTH --------*/
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-normal: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* To make 1rem equals to 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}
